/Service.Pattern/

/Solution.Web/
/Solution.presentation/App_Data/
/Solution.presentation/App_Start/
/Solution.presentation/bin/
/Solution.presentation/Content/
/Solution.presentation/fonts/
/Solution.presentation/obj/
/Solution.presentation/Properties/
/Solution.presentation/Scripts/
/Solution.presentation/favicon
/Solution.presentation/Global.asax
/Solution.presentation/packages
/Solution.presentation/Solution.Presentation
/Solution.presentation/Solution.Presentation.csproj.user
/Solution.presentation/Startup
/Solution.presentation/Web
/Solution.presentation/Web.Debug
/Solution.presentation/Web.Release



/packages/

ConsomiTounsi.sln