@model Solution.Presentation.Models.Forum.ForumIndexModel


<h1>Forums</h1>
<table class="table table-hover" id="forumIndexTable">
    <tbody>
        @foreach (var forum in Model.ForumList)
        {
            <tr>
                <td>
                    <a href="/Forum/Topic?id=@forum.Id">@forum.Name</a>
               
                </td>
                <td>
                    @forum.Description
                </td>

            </tr>

        }
    </tbody>
</table>
