@model Solution.Presentation.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<!DOCTYPE html>
<html lang="zxx">

<!-- Mirrored from fvdthemes.com/html/yeahkids/reset_password.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 17 Feb 2020 17:57:31 GMT -->


<body>
   

    <div id="breadcrumbs" class="section-block-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ol class="breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li class="active">Reset Password</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <section id="authorization_page" class="authorization_page">
        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10 dot">
                    <h2 class="section-title">Reset Password</h2>
                    <p class="section-description">
                        Please enter the email address associated with your account.<br>
                        We’ll send you a link to reset  your password.
                    </p>
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" ,@placeholder = "Email"})
                        <button class="button" type="submit" value="ForgotPassword">Submit</button>
                        <div class="forgot_pass">
                            <p>If you still need help, <a href="contact.html">Contact Us</a></p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>

    <!--End JS -->


</body>

<!-- Mirrored from fvdthemes.com/html/yeahkids/reset_password.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 17 Feb 2020 17:57:31 GMT -->
</html>

